

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://cdn.ome.lt/quvicMoBsrU5aTlagKKA4HtgaXs=/480x360/smart/filer_public/62/2d/622d17f1-ba64-49cf-bc29-978ae4bca9b9/screenshot_2024-06-23_at_222540.png"
      cardTitle="Série exibiu o segundo episódio neste domingo"
      cardDescription="A Casa do Dragão mostra que conflitos internos são tão perigosos quanto dragões"
    >
    </app-big-card>

    <app-big-card
      photoCover="https://cdn.ome.lt/m-nsm-jjug4ceodTEEajgNMdU10=/987x0/smart/uploads/conteudo/fotos/inside.png"
      cardTitle="Divertida Mente 2 amadurece emoções e dá um novo sentido para franquias da Pixar"
      cardDescription="Sequência do longa de 2015 apresenta de forma leve a origem de um transtorno de ansiedade"
    >
    </app-big-card>

  </div>
  <div class="article__others">
    <app-small-card
    Id="2"
    cardTitle="The Batman - Parte II | Ator revela quando começarão as filmagens do filme"
    photoCover="https://cdn.ome.lt/phylFP007Gm0vYixF50vHyGUnL4=/480x360/smart/extras/conteudos/bat_VKduPZn.jpeg"
    ></app-small-card>
    <app-small-card
    Id="3"
    cardTitle="Deadpool & Wolverine | Dupla mostra entusiasmo jogando pingue-pongue"
    photoCover="https://cdn.ome.lt/fyPG1I04-SUZvCHZ2IyWbPzIOG8=/325x183/smart/filer_public/e7/28/e728b449-c18f-47a2-a8ca-02b2139a256b/deadpooldestaquefw.png"
    ></app-small-card>
    <app-small-card
    Id="4"
    cardTitle="Shrek 5 é confirmado para 2025 com Burro ganhando filme derivado"
    photoCover="https://cdn.ome.lt/lduJHks_Jqa38BdvqrHeYEHoekk=/480x360/smart/extras/conteudos/sr_THUMB.png"
    ></app-small-card>

  </div>
</div>
